<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="a front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Yoland's Triggers</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="mdl-trigger mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div><h1>Total Triggers: {{ triggers.length }} </h1></div>
          </section>
          <section v-cloak v-for="trigger in triggers" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div v-on:click="trigger.show = !trigger.show" class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h1 class="mdl-cell mdl-cell--12-col">{{ trigger.title }}</h1>
                <div v-if="trigger.show" v-for="response in trigger.responses" class="section__text mdl-cell mdl-cell--10-col">
                  <h3>{{response}}</h3>
                </div>
              </div>
              <div v-if="trigger.show" class="mdl-card__actions">
                <button v-on:click="setToFalse(trigger.show)" class="mdl-button"><h3>Hide</h3></button>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script charset="utf-8">
      var overview = new Vue({
        el: '#overview',
        data: {
          triggers: [
            {
              title: 'Ocha urge',
              show: false,
              responses: [
                '- Use trigger',
                '- Remember all trigger names',
                '- Read through all trigger names',
                '- Read through one trigger content',
              ]},
            {
              title: 'LRPNT / YAV',
              show: false,
              responses: [
                '- Deep breath 10x at least',
                '- Take a shower',
                '- Take a walk/hike',
                '- Listen to calm music',
                '- Look up accomplished people.',
                ]},
            {
              title: 'Unwilling To Work',
              show: false,
              responses: [
                '- Change location',
                '- Take a walk/hike',
                '- Listen to upbeat and calm music',
                '- Open vimwiki and write out vimwiki',
                '- Listen to an eps of podcast',
                ]},
            {
              title: 'Can not decide what to do',
              show: false,
              responses: [
                '0. 10 Deep breath',
                '1. Set 10 min timer',
                '2. Make two non wasteful plans and coin toss',
                ]},
            {
              title: 'Boredom time on bus',
              show: false,
              responses: [
                '0. NIU -> gain Youtube reward after home',
                '- Podcast',
                '- Chat with friends and fam',
                '- wunderlist',
                '- vimwiki',
                ]},
            {
              title: 'Boredom normal time',
              show: false,
              responses: [
                '0. Change location (office to conf room, sofa/bed to desk, room to kitchen, home to work)',
                '- Shower',
                '- Open up a vimwiki project page try pick a thing to work on',
                '- Wunderlist inbox/NUI',
                '- Ukulele',
                '- Podcast',
                ]},
            {
              title: 'Boredom breaktime',
              show: false,
              responses: [
                '0. Change location (office to conf room, sofa/bed to desk, room to kitchen)',
                '1. Clean room',
                '- Chat with friends on FB',
                '- Play a game of agar',
                '- Steam games',
                '- Play Ukulele',
                '- Watch documentary',
                '- Watch movie',
                '- Read a kindle book',
                '- Check vimwiki',
                ]},
            {
              title: 'Procrastination',
              show: false,
              responses: [
                '- Change location (office to conf room, sofa/bed to desk, room to kitchen)',
                '- Write down things to do',
                '- Play a game of agar',
                '- Deep breath 10 times',
                '- Take a walk',
                '- Look up accomplished people'
                ]},

            {
              title: 'Want to go home early',
              show: false,
              responses: [
                '0. Change location (office to conf room, sofa/bed to desk, room to kitchen, home to work)',
                '- Long hike',
                '- Workout',
                '- Take a shower',
                ]},
            {
              title: 'Sudden Free time',
              show: false,
              responses: [
                '0. Replan today on notebook',
                '- shower',
              ]},
            {
              title: 'Ready to waste some time (L/Y)',
              show: false,
              responses: [
                '0. Clean up room',
                '1. Set a timer',
                '2. Set crontab to turn off internet',
                '3. When time is up, trigger L/Y',
                ]},
            {
              title: 'Think it is too late for me to do x',
              show: false,
              responses: [
                '0. imagine the start, process, and end',
                '1. if still do not want it, do half',
                ]},
            {
              title: 'Think it is impossible to complete goal',
              show: false,
              responses: [
                '0. Change location',
                '1. imagine start, process, end',
                '2. take a walk',
                '3. reset goal',
                ]},
            {
              title: 'TB',
              show: false,
              responses: [
                '- muscle contraction exercise 50x',
                ]},
            {
              title: 'After P-reminder change',
              show: false,
              responses: [
                '0. Add previous one to old friends',
                ]},
            {
              title: 'After lunch',
              show: false,
              responses: [
                '0. floss',
                ]},
            {
              title: 'Get home/hotel',
              show: false,
              responses: [
                '0. PGKW',
                ]},
            {
              title: '#EXP Shower trigger',
              show: false,
              responses: [
                '0. go home',
                'Shower instantly (only rinse if showered in the morning)',
                ]},
            {
              title: '#EXP Lips trigger',
              show: false,
              responses: [
                '0. put mosturizer',
                ]},
            {
              title: '#EXP Head skin trigger',
              show: false,
              responses: [
                'pre: press 10 times',
                '0. press each side 10 times',
                '1. punish hand 10 times',
                'if twice: put on hat',
                ]},
          ]
        },
        methods: {
          setToFalse: function(value) {
            value = false;
          }
        }
      })
    </script>
  </body>
</html>
