<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="a front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>LT Triggers</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="mdl-trigger mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div class="mdl-layout__header mdl-layout__header--waterfall yo-gray-nav mdl-shadow--2dp">
        <div class="mdl-layout__header-row">
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
          <!-- Navigation -->
          <div>
            <nav class="yo-gray-nav mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="index.html">Dashboard</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="lt.html">Time/Location</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="thought.html">Thought</a>
            </nav>
          </div>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
        </div>
      </div>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div><h1>
Total NUNI cards: 76
            </h1>
            <h1>
Total AMR cards: 324
            </h1></div>
            <div><h1>Total Time/Event/Location Triggers: {{ triggers.length }} </h1></div>
          </section>
          <section v-cloak v-for="trigger in triggers" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp yo-clickable">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h1 v-on:click="trigger.show = !trigger.show" class="mdl-cell mdl-cell--12-col">{{ trigger.title }} ({{trigger.responses.length}})</h1>
                <div v-if="trigger.show" v-for="(response, index) in trigger.responses" class="section__text mdl-cell mdl-cell--10-col">
                  <h3 v-on:click="toggleClass(index)" ref="el">{{response}}</h3>
                </div>
              </div>
              <div v-if="trigger.show" class="mdl-card__actions">
                <button v-on:click="trigger.show = !trigger.show" class="mdl-button"><h3>Hide</h3></button>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div><h4><a class="mdl-navigation__link mdl-typography--text-uppercase" href="thought.html">Go to Thought</a></h4></div>
          </section>

        </div>
      </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="vue.min.js"></script>
    <script charset="utf-8">
      var overview = new Vue({
        el: '#overview',
        data: {
          triggers: [
            {
              title: 'Morning Routine',
              show: false,
              responses: [
                '- (Opt) Drink water/tea/coffee',
                '0. Meditate',
                '1. 10 Push-ups',
                '2. Write ignition journal (what I want to see myself accoumplish/priorize today, what I am grateful of)',
                '3. Put on today clothes',
                '4. Begin',
              ]},
            {
              title: 'Start of work',
              show: false,
              responses: [
                '0. Jump into task if possible',
                '1. Mindfulness breath',
                '2. Open toggl/music/pomodoro/today',
                '3. Meditate for 3min',
                '4. Log in ignite',
                '- DND on mi band',
                '5. Begin',
                ]},
            {
              title: 'Reset',
              show: false,
              responses: [
                '- Close all windows if possible',
                '0. Mindfulness breath',
                '1. Debug the issue',
                '2. Start toggl/music/pomodoro/today',
                '3. Meditate for 5min',
                '4. Put phone away',
                '5. Log in reflect',
                '- DND on mi band',
                '6. Begin',
                ]},
            {
              title: 'Break',
              show: false,
              responses: [
                '0. Mindfulness breath if cut short',
                '1. Reset Pomodoro (Combo-P)',
                '2. KG 10',
                '3. Swap standing/sitting',
                '4. Resume music',
                '5. Phone away',
                '6. Reflect',
                '- Drink water',
                '- Check notification',
                '- Review',
                '- Record habit',
                '- DShower',
                '- Wash face',
            ]},
            {
              title: 'TB',
              show: false,
              responses: [
                '- BP for 5 times',
                '- Nio nio',
                '- Observe, feel, acknowledge, wait',
            ]},
            {
              title: 'PT',
              show: false,
              responses: [
                '- Stop 3+ times',
                '- Pauya',
            ]},


          ]
        },
        methods: {
          setToFalse: function(value) {
            console.log(this);
            console.log(value);
            value = false;
          },
          toggleClass: function(index) {
            this.$refs.el[index].classList.toggle("cross");
          }
        },
      })
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109613354-1"></script>
    <script> window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-109613354-1');
    </script>

    <!-- Old triggers
                        {
              title: 'Afternoon bus',
              show: false,
              responses: [
                '1. Email',
                '2. Plan tmr',
                '3. Review',
                '4. Read',
                ]},
                {
              title: 'Morning bus',
              show: false,
              responses: [
                '0. Sync up toggl',
                '1. Email',
                '2. Calendar',
                '3. Plan today',
                ]},
            {
              title: 'Lips',
              show: false,
              responses: [
                '- put mosturizer',
                ]},
            {
              title: 'Before bed',
              show: false,
              responses: [
                '1. Lip moisture',
                '2. Water floss',
            ]},
            {
              title: 'Arrive home',
              show: false,
              responses: [
                '1. Floss',
            ]},
            {
              title: 'Head skin',
              show: false,
              responses: [
                '- 10 pushups',
                ]},

            {
              title: 'Night Routine Before Gaming',
              show: false,
              responses: [
                '1. Floss',
                '2. Prep drink',
                '3. Lip moisture',
                '4. Prep clothes',
            ]},
            {
              title: 'Boredom time on bus',
              show: false,
              responses: [
                '0. NIU gain Youtube reward after home',
                '- Podcast',
                '- Chat with friends and fam',
                '- wunderlist',
                '- vimwiki',
                ]},
            {
              title: 'Gaming',
              show: false,
              responses: [
                'Turn off my phone',
                ]},
            {
              title: '5:20/5:30 At Work',
              show: false,
              responses: [
                '(Optional) tear down (wrap up, agar game)',
                '1. TB excercise',
                '2. Eat dinner',
              ]},
            {
              title: '[Exp] Get to UCSF at the door',
              show: false,
              responses: [
                '- Check email/calendar',
                '- Log zero/habithub',
                '- Put phone away',
              ]},
    -->
    <!-- Future triggers
            {
              title: 'Before bed',
              show: false,
              responses: [
                '1. Floss',
                '2. Honey+ACV',
                '3. Lip moisture',
                '4. Tetris',
            ]},
            {
              title: 'Morning Routine',
              show: false,
              responses: [
                '1. Get dressed',
                '2. Drink',
                '3. Medidate',
                '4. Morning pages',
                '5. [O] Game',
            ]},

    -->


  </body>
</html>
