<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="a front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Throughs Triggers</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="mdl-trigger mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div class="mdl-layout__header mdl-layout__header--waterfall yo-gray-nav mdl-shadow--2dp">
        <div class="mdl-layout__header-row">
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <div>
            <nav class="yo-gray-nav mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="index.html">Dashboard</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="lt.html">Time/Location</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="thought.html">Thought</a>
            </nav>
          </div>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
        </div>
      </div>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div><h1>Total Thoughts Triggers: {{ triggers.length }} </h1></div>
          </section>
          <section v-cloak v-for="trigger in triggers" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp yo-clickable">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h1 v-on:click="trigger.show = !trigger.show" class="mdl-cell mdl-cell--12-col">{{ trigger.title }} ({{trigger.responses.length}})</h1>
                <div v-if="trigger.show" v-for="(response, index) in trigger.responses" class="section__text mdl-cell mdl-cell--10-col">
                  <h3 v-on:click="toggleClass(index)" ref="el">{{response}}</h3>
                </div>
              </div>
              <div v-if="trigger.show" class="mdl-card__actions">
                <button v-on:click="trigger.show = !trigger.show" class="mdl-button"><h3>Hide</h3></button>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div><h4><a class="mdl-navigation__link mdl-typography--text-uppercase" href="lt.html">Go to LT</a></h4></div>
          </section>
        </div>
      </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="vue.min.js"></script>
    <script charset="utf-8">
      var overview = new Vue({
        el: '#overview',
        data: {
          triggers: [
          {
              title: 'Mind wondering',
              show: false,
              responses: [
                '- 1 deep breath',
                '- 10 deep breath',
                '- Close all windows and turn off screens',
                '- Listen to one upbeat or calm song',
                '- Typing.io / VS Code typing',
                '- Swap order of tasks',
                '- Change location',
                '- Take a walk/hike',
                ]},
          {
              title: 'Regaining Momentum',
              show: false,
              responses: [
                '- Close all window',
                '- Drop everything else on Focus',
                '- Typing.io / VS Code typing',
                '- Swap music',
                '- Take it slow on progress (slow chill music, generous on breaks)',
                '- Take it serious on distractions',
                '- Try catching myself chickening out on pushing the progress',
                '- Hand write out the complete step by step plan for getting started on the task',
                '- [Opt] Visualize doing it',
                '- You will be screwed if you do not do it',
                ]},
          {
              title: 'Machine mode',
              show: false,
              responses: [
                '- 1-10 deep breath',
                '- Write down need to do items'
                '- Open timer',
                '- Drop thoughts',
                '- Go',
                ]},
          {
              title: 'Serious Anti-Distraction',
              show: false,
              responses: [
                '- 1-10 deep breath',
                '- Message people about super focus mode',
                '- Disable Pushbullet extension',
                '- Block out calendar',
                '- Swap music',
                '- Phone on DND and in the bag',
                '- Temp block: news, messages, messenger, other ongoing sources',
                '- [Opt] Turn off internet',
                '- Listen to one upbeat or calm song',
                '- Change location',
                ]},
          {
              title: 'Anger/feeling triggered (e.g fights, sulking)',
              show: false,
              responses: [
                '- 1 deep breath',
                '- 10 deep breath',
                '- Calm episode: take 90',
                '- Wholeheartedly wish someone the best and happy for 1min',
                '- Be grateful',
                '- Meditate',
                '- Change loc/take a walk',
                '- Feel the emotion for 90s and let it pass',
                ]},
          {
              title: '[Exp] Itch to become distracted by something (e.g. all of sudden want to check on random amazon order status)',
              show: false,
              responses: [
                '- 1 deep breath',
                '- 10 deep breath',
                '- 10 min meditation',
                '- Typing.io / VS Code typing',
                '- Change loc/take a walk',
                '- Swap music',
                '- Write down the process of this task',
                '- Listen to upbeat and calm music',
                ]},
                {
              title: '[Exp] Too Excited To Do Work (e.g. mental image of how cool the result is going to be and not able to calm down and go to step 1)',
              show: false,
              responses: [
                '- 1 deep breath',
                '- 10 deep breath',
                '- 10 min meditation',
                '- Typing.io / VS Code typing',
                '- Change loc/take a walk',
                '- Swap music',
                '- Swap order of tasks',
                '- Write down the process of this task',
                '- Listen to upbeat and calm music',
                ]},
          {
              title: '[Exp] Task transition period',
              show: false,
              responses: [
                '1. 1-10 deep breath',
                '2. Set timer for max transition time',
                '- Typing.io / VS Code typing',
                '- Swap music',
                '- Listen to one upbeat or calm song',
                '- Think about/write down the step-by-step plan',
                '- Visualize going through them',
                ]},
            {
              title: 'Procrastination',
              show: false,
              responses: [
                '1. Prevention focus (I would be super screwed if I don\'t finish this)',
                '- 10 deep breath',
                '- Swap music',
                '- Write down the process of this task',
                '- Typing.io / VS Code typing',
                '- Swap order of tasks',
                '- Change location',
                '- Take a walk/hike',
                '- Look up accomplished people',
                '- Listen to upbeat and calm music',
                '- Use if-then to reschedule this',
                ]},
            {
              title: 'Indecisive',
              show: false,
              responses: [
                '1. 10 deep breath',
                '2. Set 10 min timer',
                '3. Make two non wasteful plans and coin toss',
                ]},
            {
              title: 'Steps for difficult task',
              show: false,
              responses: [
                '- Typing.io / VS Code typing',
                '1. I won\'t do it',
                '2. I can\'t do it',
                '3. I want to do it',
                '4. How do I do it? (write down steps)',
                '5. I am trying to do it',
                '6. I can do it',
                '7. I need to finish it',
                '8. I did it!',
                ]},
            {
              title: 'Meditation Techniques Library',
              show: false,
              responses: [
                '- Imagining mind as a ball in the center but constantly pulled by string of thoughts from different sides during a mind autopilot mode. Gently return the ball to the center.',
                '- Colored breath (imagine air is colored)',
                '- Holding temple and clench/unclench jaws for negative emotions/habits removal',
                '- Mentally scan body slowly and relax each part',
                '- Catch thoughts as they appear and imagine them going away',
                '- Think the word in and out as breathing in and out',
                ]},
            {
              title: 'Mantra/Consciousness Library',
              show: false,
              responses: [
                '- Disengage, disengage, disengage',
                '- No matter how shitty this day is and will be, I will be in my bed tonight',
                '- Simply notice when I drift off',
                '- I am patient, I am committed, I am faithful',
                ]},
            {
              title: 'Work Inefficiency (want to go home, wasting time)',
              show: false,
              responses: [
                '1. Close all windows and disengage phone',
                '- Typing.io / VS Code typing',
                '- Change location',
                '- Long hike',
                '- Workout',
                '- Take a shower',
                ]},
            {
              title: 'Boredom',
              show: false,
              responses: [
                '1. Close all windows and disengage phone',
                '- Bored.sh',
                '- Trello',
                '- Swap order of tasks',
                '- Check goals for week/year',
                '- Clean room/desk',
                '- Shower',
                '- Fun book',
                '- Change location',
                '- Chat with friends on FB',
                '- Podcast',
                '- Ukulele',
                '- Youtube Waitlist',
                '- Steam games',
                ]},
            {
              title: 'Ready to waste some time (L/Y)',
              show: false,
              responses: [
                '1. Clean up room',
                '2. Set a timer',
                '3. Set crontab to turn off internet',
                '4. When time is up, trigger L/Y',
                '5. Bring a book for waste time side reading',
                ]},
            {
              title: '5 Min',
              show: false,
              responses: [
                '- Just Do It',
              ]},
          ]
        },
        methods: {
          setToFalse: function(value) {
            console.log(this);
            console.log(value);
            value = false;
          },
          toggleClass: function(index) {
            this.$refs.el[index].classList.toggle("cross");
          }
        },
      })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109613354-1"></script>
    <script> window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-109613354-1');
    </script>

    <!-- Old triggers
            {
              title: 'Make a promise',
              show: false,
              responses: [
                '1. Think twice',
                '2. Make step by step plan before promising',
                '3. If made a promise, write down in https://goo.gl/GbPsZN',
                '4. If made an exaggeration, write down in https://goo.gl/GbPsZN'
                ]},

            {
              title: 'Ocha urge',
              show: false,
              responses: [
                '- Use trigger',
                '- Remember all trigger names',
                '- Read through all trigger names',
                '- Read through one trigger content',
              ]},
            {
              title: 'Boredom time on bus',
              show: false,
              responses: [
                '0. NIU -> gain Youtube reward after home',
                '- Podcast',
                '- Chat with friends and fam',
                '- wunderlist',
                '- vimwiki',
                ]},
            {
              title: 'LRPNT / YAV',
              show: false,
              responses: [
                '- Deep breath 10x at least',
                '- Take a shower',
                '- Take a walk/hike',
                '- Listen to calm music',
                '- Look up accomplished people.',
                ]},

    -->

  </body>
</html>
